<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">starts</th>
          <th class="h4">ends</th>
        </tr>
      </thead>
      <tbody>
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.starts}}</dd>
          </td>
          <td>
            <dd>{{c.ends}}</dd>

          </td>
          <div class="container">

  <p>Conferencias futuras: {{ conferenciasFuturas }}</p>
</div>

      </tr>
      </tbody>
    </table>
    <div class="row justify-content-start">
      <h5 style="font-size: 17px;">{{average}}</h5>
    </div>
  </div>
</div> 